

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538988686402913412.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538988686402913412.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538988686402913412.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538988686402913412.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538988686402913412.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538988686402913412.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538988686402913412.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538988686402913412.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538988686402913412.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538988686402913412.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538988686402913412.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538988686402913412.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538988686402913412.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538988686402913412.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538988686402913412.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538988686402913412.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538988686402913412.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538988686402913412.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-538988686402913412.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-538988686402913412.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-538988686402913412.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538988686402913412.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538988686402913412.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538988686402913412.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538988686402913412.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538988686402913412.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538988686402913412.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538988686402913412.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538988686402913412.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538988686402913412.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538988686402913412.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-538988686402913412.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538988686402913412.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-538988686402913412.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-538988686402913412.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538988686402913412.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538988686402913412.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538988686402913412.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-538988686402913412.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538988686402913412.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538988686402913412.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538988686402913412.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538988686402913412.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538988686402913412.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-538988686402913412 .gp-relative{position:relative}.gps-538988686402913412 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538988686402913412 .gp-mb-0{margin-bottom:0}.gps-538988686402913412 .\!gp-inline{display:inline!important}.gps-538988686402913412 .gp-flex{display:flex}.gps-538988686402913412 .gp-grid{display:grid}.gps-538988686402913412 .\!gp-hidden{display:none!important}.gps-538988686402913412 .gp-hidden{display:none}.gps-538988686402913412 .gp-h-full{height:100%}.gps-538988686402913412 .gp-w-full{width:100%}.gps-538988686402913412 .gp-max-w-full{max-width:100%}.gps-538988686402913412 .gp-flex-col{flex-direction:column}.gps-538988686402913412 .gp-gap-y-0{row-gap:0}.gps-538988686402913412 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538988686402913412 .gp-duration-200{transition-duration:.2s}.gps-538988686402913412 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538988686402913412 .tablet\:\!gp-hidden{display:none!important}.gps-538988686402913412 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538988686402913412 .mobile\:\!gp-hidden{display:none!important}.gps-538988686402913412 .mobile\:gp-hidden{display:none}}.gps-538988686402913412 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2lc5ee44f4e9" data-id="i2lc5ee44f4e9"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(253, 253, 253)"
        class="i2lc5ee44f4e9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2lc5ee44f4e9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="w-i2lc5ee44f4e9" data-id="w-i2lc5ee44f4e9"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2lc5ee44f4e9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-cZQMOQRXlOFP gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="cZQMOQRXlOFP"
    role="presentation"
    class="gp-group/image cZQMOQRXlOFP"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagebnsmrqwxpp.png" width="1391" height="281" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:1391/281;--aspect-tablet:1391/281;--aspect-mobile:1391/281;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagebnsmrqwxpp.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagebnsmrqwxpp.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagebnsmrqwxpp.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagebnsmrqwxpp.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="1391" height="281" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1391/281;--aspect-tablet:1391/281;--aspect-mobile:1391/281;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-538988686402913412 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=538988686268695684&sectionId=538988686402913412)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
