

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539130028592465028.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539130028592465028.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-539130028592465028.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539130028592465028.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539130028592465028.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539130028592465028.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539130028592465028.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539130028592465028.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539130028592465028.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539130028592465028.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539130028592465028.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539130028592465028.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539130028592465028.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-539130028592465028.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-539130028592465028.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539130028592465028.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-539130028592465028.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-539130028592465028.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-539130028592465028.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539130028592465028.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539130028592465028.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539130028592465028.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-539130028592465028.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539130028592465028.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539130028592465028.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539130028592465028.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539130028592465028.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539130028592465028.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539130028592465028.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539130028592465028.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539130028592465028.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539130028592465028.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539130028592465028.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539130028592465028.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539130028592465028.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539130028592465028.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539130028592465028.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539130028592465028.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539130028592465028.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539130028592465028.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539130028592465028.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539130028592465028.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539130028592465028.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539130028592465028.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539130028592465028.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-539130028592465028.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539130028592465028.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539130028592465028.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539130028592465028.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-539130028592465028.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539130028592465028.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539130028592465028.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539130028592465028.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539130028592465028.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539130028592465028.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539130028592465028.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539130028592465028.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-539130028592465028.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539130028592465028.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539130028592465028.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539130028592465028.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539130028592465028.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539130028592465028.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539130028592465028.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539130028592465028.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-539130028592465028 .gp-relative{position:relative}.gps-539130028592465028 .gp-z-1{z-index:1}.gps-539130028592465028 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539130028592465028 .gp-mb-0{margin-bottom:0}.gps-539130028592465028 .gp-flex{display:flex}.gps-539130028592465028 .gp-inline-flex{display:inline-flex}.gps-539130028592465028 .gp-grid{display:grid}.gps-539130028592465028 .\!gp-hidden{display:none!important}.gps-539130028592465028 .gp-hidden{display:none}.gps-539130028592465028 .gp-h-full{height:100%}.gps-539130028592465028 .gp-max-w-full{max-width:100%}.gps-539130028592465028 .gp-flex-col{flex-direction:column}.gps-539130028592465028 .gp-items-center{align-items:center}.gps-539130028592465028 .gp-justify-center{justify-content:center}.gps-539130028592465028 .gp-gap-y-0{row-gap:0}.gps-539130028592465028 .gp-overflow-hidden{overflow:hidden}.gps-539130028592465028 .gp-break-words{overflow-wrap:break-word}.gps-539130028592465028 .gp-rounded-none{border-radius:0}.gps-539130028592465028 .gp-no-underline{text-decoration-line:none}.gps-539130028592465028 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539130028592465028 .gp-duration-200{transition-duration:.2s}.gps-539130028592465028 .gp-duration-300{transition-duration:.3s}.gps-539130028592465028 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539130028592465028 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-539130028592465028 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-539130028592465028 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-539130028592465028 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-539130028592465028 .tablet\:\!gp-hidden{display:none!important}.gps-539130028592465028 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539130028592465028 .mobile\:\!gp-hidden{display:none!important}.gps-539130028592465028 .mobile\:gp-hidden{display:none}}.gps-539130028592465028 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539130028592465028 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--pos:fixed;--top:0px;--z:99;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g3e1LPvnkM" data-id="g3e1LPvnkM"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-m);--pb:var(--g-s-m);--pt-tablet:var(--g-s-l);--pl-tablet:15px;--pb-tablet:var(--g-s-l);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3e1LPvnkM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcknX3BLOO gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb:var(undefined);--ta:center"
    
  >
    <style>
    .gZjHXYJ8-l.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gZjHXYJ8-l:hover::before {
      
      
    }

    .gZjHXYJ8-l:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gZjHXYJ8-l .gp-button-icon {
      color: #242424;
    }

    .gZjHXYJ8-l:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gZjHXYJ8-l .gp-button-price {
      color: #242424;
    }

    .gZjHXYJ8-l .gp-product-dot-price {
       color: #242424;
    }

    .gZjHXYJ8-l:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <button
      type="button" data-id="gZjHXYJ8-l" aria-label="Buy Now"
      
      data-state="idle"
      class="gZjHXYJ8-l gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#E11D48;--bg:#FFFFFF;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:22px;--pr-mobile:22px;--pt-mobile:3px;--pb-mobile:3px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggZjHXYJ8-l_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-539130028592465028 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539130017183958163&sectionId=539130028592465028)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZjHXYJ8-l_label","label":"ggZjHXYJ8-l_label","default":"Buy Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
