

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538973587395052540.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538973587395052540.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538973587395052540.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-538973587395052540.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538973587395052540.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538973587395052540.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538973587395052540.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538973587395052540.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538973587395052540.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538973587395052540.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538973587395052540.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-538973587395052540.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538973587395052540.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538973587395052540.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538973587395052540.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538973587395052540.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538973587395052540.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538973587395052540.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538973587395052540.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538973587395052540.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538973587395052540.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538973587395052540.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538973587395052540.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538973587395052540.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538973587395052540.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538973587395052540.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538973587395052540.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538973587395052540.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538973587395052540.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538973587395052540.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538973587395052540.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538973587395052540.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538973587395052540.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538973587395052540.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538973587395052540.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538973587395052540.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538973587395052540.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538973587395052540.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538973587395052540.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-538973587395052540.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538973587395052540.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538973587395052540.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538973587395052540.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538973587395052540.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538973587395052540.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538973587395052540.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538973587395052540.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538973587395052540.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538973587395052540.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538973587395052540.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538973587395052540.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538973587395052540.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538973587395052540.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538973587395052540.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538973587395052540.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538973587395052540.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538973587395052540.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538973587395052540.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538973587395052540.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538973587395052540.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538973587395052540.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538973587395052540.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538973587395052540 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538973587395052540 .gp-relative{position:relative}.gps-538973587395052540 .gp-z-1{z-index:1}.gps-538973587395052540 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538973587395052540 .gp-mb-0{margin-bottom:0}.gps-538973587395052540 .\!gp-inline{display:inline!important}.gps-538973587395052540 .gp-flex{display:flex}.gps-538973587395052540 .gp-inline-flex{display:inline-flex}.gps-538973587395052540 .gp-grid{display:grid}.gps-538973587395052540 .\!gp-hidden{display:none!important}.gps-538973587395052540 .gp-hidden{display:none}.gps-538973587395052540 .gp-h-full{height:100%}.gps-538973587395052540 .gp-w-full{width:100%}.gps-538973587395052540 .gp-max-w-full{max-width:100%}.gps-538973587395052540 .gp-flex-col{flex-direction:column}.gps-538973587395052540 .gp-items-center{align-items:center}.gps-538973587395052540 .gp-justify-center{justify-content:center}.gps-538973587395052540 .gp-gap-y-0{row-gap:0}.gps-538973587395052540 .gp-overflow-hidden{overflow:hidden}.gps-538973587395052540 .gp-break-words{overflow-wrap:break-word}.gps-538973587395052540 .gp-rounded-none{border-radius:0}.gps-538973587395052540 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-538973587395052540 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-538973587395052540 .gp-no-underline{text-decoration-line:none}.gps-538973587395052540 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538973587395052540 .gp-duration-200{transition-duration:.2s}.gps-538973587395052540 .gp-duration-300{transition-duration:.3s}.gps-538973587395052540 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538973587395052540 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-538973587395052540 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-538973587395052540 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-538973587395052540 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-538973587395052540 .tablet\:\!gp-hidden{display:none!important}.gps-538973587395052540 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538973587395052540 .mobile\:\!gp-hidden{display:none!important}.gps-538973587395052540 .mobile\:gp-hidden{display:none}}.gps-538973587395052540 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538973587395052540 .\[\&_p\]\:gp-inline p{display:inline}.gps-538973587395052540 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-538973587395052540 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538973587395052540 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g9utmV23z7" data-id="g9utmV23z7"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9utmV23z7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghtqPVZy6H gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gYZDjR5xNh" data-id="gYZDjR5xNh"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYZDjR5xNh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLcSpbnRSp gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gOVXziiiyk">
    <div
      parentTag="Col"
        class="gOVXziiiyk "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOVXziiiyk_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gI1eAwHw21">
    <div
      parentTag="Col"
        class="gI1eAwHw21 "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:57px;--size-tablet:57px;--size-mobile:50px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggI1eAwHw21_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g49frs9Vco">
    <div
      parentTag="Col"
        class="g49frs9Vco "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg49frs9Vco_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--ta:center"
    
  >
    <style>
    .g10KEx8mvn.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g10KEx8mvn:hover::before {
      
      
    }

    .g10KEx8mvn:hover .gp-button-icon {
      color: undefined;
    }

     .g10KEx8mvn .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g10KEx8mvn:hover .gp-button-price {
      color: undefined;
    }

    .g10KEx8mvn .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g10KEx8mvn .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g10KEx8mvn:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="g10KEx8mvn" aria-label="SHOP DEALS NOW"
      
      data-state="idle"
      class="g10KEx8mvn gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#2352E7;--bg:#126BFF;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.gg10KEx8mvn_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>
<div
    
     data-id="g4C_ezn42P"
    role="presentation"
    class="gp-group/image g4C_ezn42P"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/53ec1f0f-76b9-4ace-bf60-e9ce211c4c41/-/format/auto/-/preview/3000x3000/-/quality/lighter/bn.png" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/53ec1f0f-76b9-4ace-bf60-e9ce211c4c41/-/format/auto/-/preview/3000x3000/-/quality/lighter/bn.png" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/53ec1f0f-76b9-4ace-bf60-e9ce211c4c41/-/format/auto/-/preview/3000x3000/-/quality/lighter/bn.png"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1395/578;--aspect-tablet:1395/578;--aspect-mobile:1395/578;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/53ec1f0f-76b9-4ace-bf60-e9ce211c4c41/-/format/auto/-/preview/3000x3000/-/quality/lighter/bn.png" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/53ec1f0f-76b9-4ace-bf60-e9ce211c4c41/-/format/auto/-/preview/3000x3000/-/quality/lighter/bn.png" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/53ec1f0f-76b9-4ace-bf60-e9ce211c4c41/-/format/auto/-/preview/3000x3000/-/quality/lighter/bn.png"
        width="100%"
        alt="Alt Image"
        style="--aspect:1395/578;--aspect-tablet:1395/578;--aspect-mobile:1395/578;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 17",
    "tag": "section",
    "class": "gps-538973587395052540 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=538970499313566506&sectionId=538973587395052540)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggOVXziiiyk_text","label":"ggOVXziiiyk_text","default":"<p>THIS BLACK FRIDAY</p>"},{"type":"html","id":"ggI1eAwHw21_text","label":"ggI1eAwHw21_text","default":"<p>SAVE 30% AND MORE</p>"},{"type":"html","id":"gg49frs9Vco_text","label":"gg49frs9Vco_text","default":"<p>Biggest Sale Of the Year, On All Products</p>"},{"type":"html","id":"gg10KEx8mvn_label","label":"gg10KEx8mvn_label","default":"SHOP DEALS NOW"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
